<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">

<head>
  <title>Happy 2022, Happy for Kids too</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="Wish kids a Happy 2022, join the Chain-for-Children's-Cheer." />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Happy 2022, Happy for Kids too" />
  <meta property="og:url" content="https://happy22kids.org/" />
  <meta property="og:description" content="Wish kids a Happy 2022, join the Chain-for-Children's-Cheer." />
  <meta property="og:image" content="https://happy22kids.org/images/happy22kids.jpg" />
  <meta property="og:image:secure_url" content="https://happy22kids.org/images/happy22kids.jpg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="1600" />
  <meta property="og:image:height" content="800" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static', filename='layout/styles/layout.css') }}" rel="stylesheet" type="text/css"
    media="all" />
</head>

<body id="top">
  <div class="bgded overlay"
    style="background-image:url('{{ url_for('static', filename='images/kids-playing-light.png') }}');">
    <div id="pageintro" class="clear">
      <article>
        <p><img src="{{ url_for('static', filename='images/happy22kids.jpg') }}" width="100%" /></p><br />
        <p><i><b>This campaign was run in late 2021/early 2022 as happy22kids.org. The pages are being maintained here
              for historic record.</b></i></p><br />
        <p>
          <a class="btn" href="#stmt">Read the statement</a>
          <a class="btn" href="{{ url_for('join_chain') }}">Join the <b>
              <font color="#0000ff">Chain-for-Children's-Cheer</font>
            </b></a>
          <a class="btn" href="{{ url_for('resources') }}">Resources to Educate &amp; Awaken</a>
        </p>
      </article>
    </div>
  </div>
  <div class="wrapper row3">
    <a name="stmt"></a>
    <section class="hoc container clear">
      <div class="sectiontitle">
        <p class="heading underline font-x3">
          <font color="#0000ff">Happy 2022, <br />Happy for Kids too</font>
        </p>
        <p class="heading underline font-x2">
          <font color="#ff0000">A Clarion Call to Stop Harming Kids in Covid Response</font>
        </p>
      </div>
      <p>
      <div class="left btmspace-50 font-big">
        <p>Much of the world’s response to Covid-19 has been in terms of lockdowns, which have been hugely damaging by
          themselves, especially to the poor and the working class. But the treatment of children in the Covid response
          has been <b>unconscionable</b>. We as parents, teachers, educationists, doctors, epidemiologists,
          paediatricians, other professionals, and also as concerned citizens, call for an <b>immediate end to ongoing
            disproportionate and hugely harmful disruptions to children's lives</b>.</p>
        <p>The risk of Covid-19 to children is miniscule, far lesser than other risks we accept as a normal part of
          life. Thus the disruptions to children's lives are of no benefit to them and are hugely harmful. Each of us
          adults has enjoyed a normal childhood of learning, play, socialization, arts and music, and sports. Each child
          today deserves the same.</p>
        <p>We therefore call for <b>immediate resumption of all schools and related activities for all kids</b>. We also
          call for:</p>
        <ol>
          <li><b>No disruptive social distancing for kids:</b> This disruption is no longer acceptable, is of no benefit
            for children, and is hugely harmful to their mental and social well-being, and all-round development.</li>
          <li><b>No emergency-use jabs for kids:</b> Children have not had a Covid emergency anywhere in the world;
            therefore, the use of emergency use medical intervention is unacceptable. Kids should not be given jabs
            whose long-term effects are clearly unknown.</li>
          <li><b>No asymptomatic Covid testing for kids:</b> "Asymptomatic illness" is an oxymoron. Disruptions to
            schools or other kids' activities based on such testing are no longer acceptable.</li>
        </ol>
        <p>The above measures are still being followed, with the stated goal of virus eradication or Zero-Covid. Chasing
          Zero-Covid is not only an unachievable scientific fantasy, but it is also hugely harmful to kids. This harm
          must stop immediately. We owe a normal, healthy, fear-free, anxiety-free environment to kids.</p>
        <p align="center" class="font-x2">
          <font color="#0000ff">
            <i><b>
                Kids' smiles long overdue<br />
                Much harm to undo<br />
                Happy 2022<br />
                Happy for kids too
              </b></i>
          </font>
        </p>
        <p align="center">
          <a class="btn" href="{{ url_for('join_chain') }}">Join the <b>
              <font color="#0000ff">Chain-for-Children's-Cheer</font>
            </b></a>
        </p><br />
        <p>The undersigned (each in individual/personal capacity):</p>
        <ol>
          <li>Prof. Bhaskaran Raman, Professor, Department of CSE, IIT Bombay [coordinator, contact]</li>
          <li>Dr. Amitav Banerjee, Head, Department of Community Medicine, Dr D.Y.Patil Medical College, Pune</li>
          <li>Dr. Maya Valecha, MD, DGO, Vadodara, Gujarat</li>
          <li>Dr. Arvind Singh Kushwaha, Department of Community Medicine, AIIMS, Nagpur</li>
          <li>Dr. Jayaprakash Muliyil, MD, MPH, DR.PH (Epidemiology), Chairman Scientific Advisory Committee of National
            Institute of Epidemiology</li>
          <li>Dr. Gautam Das, MBBS, Physician, A member of GRAPH (Global Rational Alliance for Public Health), Kolkata
          </li>
          <li>Dr. Megha Consul, MD DNB Paediatrics, Fellow Neonatal Perinatal Medicine, University of Western Ontario,
            Principal Consultant, Paediatrics, Max Super Speciality Hospital, Gurgaon</li>
          <li>Dr. Deepak Natarajan, MBBS, MD, DM, Principal Director Cardiac Sciences, Supreme Hospital, Delhi - NCR
          </li>
          <li>Prof.(Dr.) Niranjanaradhya.V.P, Development Educationist, Mentor of SDMCs and Chief Advocate of
            Neighbourhood Common School System through State Funded Public Education, Karnataka</li>
          <li>Dr. Srinivas Kakkilaya, MBBS, MD, Physician, Mangaluru</li>
          <li>Dr. Balasaraswathy, MBBS, DNB, Dermatologist, Mangaluru</li>
          <li>Dr. Firuzi Mehta, BHMS (Mum.) HMD (Lon.) IACH DIHom (Gr.) - Homeopathic physician, Mumbai</li>
          <li>Adv. Nilesh C. Ojha, LLB, B.E. (Electronics and Telecommunications), Advocate at Supreme Court and Bombay
            High Court, National President - Indian Bar Association</li>
          <li>Adv. Dipali N. Ojha, LLB, B. Com, PGDBM (Finance), Advocate at Bombay High Court and Supreme Court of
            India, Head - Legal Cell, Indian Bar Association</li>
          <li>Tanya Aggarwal, Lawyer, New Delhi</li>
          <li>Nisha Koiri, Naturopath, Member of International Naturopathy Organization, Mumbai</li>
          <li>Vimi Rath, Architect and Designer, Gurgaon</li>
          <li>Dr. A.L.Manjunath, MD General Medicine, Consultant Physician, HK Hospital, Kengeri, Bengaulru</li>
          <li>Dr. Rajeev, BHMS (BNG), Homeopathic Physician, Bengaluru</li>
          <li>Dr. Chetan Kumar NG MBBS MD, Respiratory Medicine, Bengaluru</li>
          <li>Dr. Banu Prakash A.S., MCh, Bengaluru</li>
          <li>Dr. Sandeep, MBBS MD DM (Pulmonology), Consultant Pulmonologist, BGS Gleneagles Global Hospital, Kengeri,
            Bengaluru</li>
          <li>Dr. Raju Krishnamurthy. MBBS, MD, PG diploma in Diabetology, C/O Sagar Clinic & Diabetic Care Centre /
            Rajus Healthy India , Mudalapalya, Bengaluru</li>
        </ol>
        <p><b>1100+</b> members (as of 01 Feb 2022) in the <b>
            <font color="#0000ff">Chain-for-Children's-Cheer</font>
          </b>: <a class="btn" href="{{ url_for('result') }}">View</a></p>
      </div>
    </section>
  </div>
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <a name="joinhelp"></a>
      <p class="fl_left">
      <figure><strong>Contact us:</strong>
      </figure>
      Join <a href="https://telegram.org/">Telegram</a> channel: <a
        href="https://t.me/u5india">https://t.me/u5india</a><br />
      Email: <img src="{{ url_for('static', filename='images/happy22kidsemail.png') }}" style="width:50%">
      </p>
      <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/"
          title="Free Website Templates">OS Templates</a></p>
    </div>
  </div>
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
</body>

</html>