<!DOCTYPE html>
<html lang="">

<head>
  <title>Join the Chain-for-Children's-Cheer: Resources to Educate &amp; Awaken</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static', filename='layout/styles/layout.css') }}" rel="stylesheet" type="text/css"
    media="all">
</head>

<body id="top">
  <div class="wrapper row3">
    <section class="hoc container clear">
      <div class="sectiontitle">
        <p class="heading font-x3">
          <font color="#0000ff"><b>Happy 2022<br /> Happy for Kids Too</b></font>
        </p><br />
        <p class="heading underline font-x2">Resources to Educate &amp; Awaken</p><br />
        <footer>
          <font size="-1">
            [<a href="{{ url_for('index') }}#stmt">back to the main page</a>]
          </font>
        </footer>
      </div>
      <div class="content">
        <div id="gallery">
          <figure>
            <ul class="nospace clear">
              <li class="one_third">
                <a href="{{ url_for('static', filename='images/happy22kids.jpg') }}">
                  <img src="{{ url_for('static', filename='images/happy22kids.jpg') }}" alt="">
                </a>
                <br />
                <a href="https://rumble.com/vtuwuu-does-your-child-need-covid-vaccine-.html">Rumble video</a>
              </li>
            </ul>
          </figure>
        </div>
      </div>

      <ul id="latest" class="nospace group">



        <li class="one_third first">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i>Bhaskaran Raman</li>
              <li><i class="far fa-clock"></i>
                <time datetime="">28 Jan 2022</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">For Kids’ Sake, End COVID Fixation, Start Undoing the Harm Done to Them</h6>
              <p>“Have we adhered to “do no harm to kids” in the last two years?”<br />
                “Harms due to unreasonable fear”<br />
                “जान है तो जहान है”.. is a cruel twist<br />
                “start schools.. stop disruptive social distancing.. stop asymptomatic testing.. schools must be
                delinked from Covid jabs for kids”<br />
                “start living for kids; it would be therapeutic for having lived in fear”
              </p>
              <footer><a class="btn"
                  href="https://www.news18.com/news/opinion/for-kids-sake-end-covid-fixation-start-undoing-the-harm-done-to-them-4708805.html">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1487024613007978498">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i>Bhaskaran Raman</li>
              <li><i class="far fa-clock"></i>
                <time datetime="">25 Jan 2022</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">The devastating impact of school closure</h6>
              <p>“we as a society abandoned reason long ago, when we decided to close schools for about 20 months”<br />
                “Education is a constitutional right”<br />
                “We hope that 2022 and the years from now are normal for children in all respects, including a good
                school life and happy childhood”
              </p>
              <footer><a class="btn"
                  href="https://www.thehindu.com/opinion/op-ed/the-devastating-impact-of-school-closure/article38320462.ece">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1485814341530439681">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i></li>
              <li><i class="far fa-clock"></i>
                <time datetime="">30 Apr 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <p>
                <a class="imgover" href="{{ url_for('static', filename='images/mumbai-c19-age-breakup.jpg') }}">
                  <img src="{{ url_for('static', filename='images/mumbai-c19-age-breakup.jpg') }}" alt="">
                </a>
              </p>
              <h6 class="heading">Mumbai C19 Deaths: Age-Group Wise Breakup</h6>
              <p>
                There is a general <i>feeling</i> in media/social-media that the second wave is affecting younger people
                more. How far is this true?
              </p>
              <footer>
                <a class="btn" href="{{ url_for('static', filename='images/mumbai-c19-age-breakup.jpg') }}">Graphic</a>
                <a class="btn inverse"
                  href="https://docs.google.com/presentation/d/1Ea0XL6KSYxZTYbjIpheZGPpukbgEAoDIGGvSAsMU7P8/edit?usp=sharing">Slide</a>
              </footer>
            </div>
          </article>
        </li>

        <li class="one_third first">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i>Bhaskaran Raman, Om Damani</li>
              <li><i class="far fa-clock"></i>
                <time datetime="">09 Jan 2022</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">Do Pfizer’s Trial Results Justify Covid-19 Jabs For Kids?</h6>
              <p>“the absolute risk reduction in severe Covid due to the jab, as per Pfizer’s own trial data, is not
                90%, not even 2.27%, it is <b>zero</b>!”<br />
                "what is the need for an irreversible medical intervention in terms of an unproven jab, when most Indian
                kids’ immune system has already fought off the virus without us even noticing it, when there are unknown
                long-term risks of the jab?"
              </p>
              <footer><a class="btn"
                  href="https://www.outlookindia.com/website/story/india-news-do-pfizers-trial-results-justify-covid-19-jabs-for-kids/408950">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1480136163771883521">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i>Bhaskaran Raman, Om Damani</li>
              <li><i class="far fa-clock"></i>
                <time datetime="">03 Jan 2022</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">बिना लक्षण के लोगों की जांच से बढ़ रही समस्या</h6>
              <p>“जो न तो स्वयं बीमार हैं और न ही दूसरों को बीमार कर सकते हैं, वे भी तीन महीने तक आरटी पीसीआर टेस्टिंग
                कराने से पॉजिटिव आ सकते हैं”<br />
                “लक्षणवालों की टेस्टिंग तो करनी ही चाहिए, लेकिन बिना लक्षणवालों की टेस्टिंग, खासतौर पर बच्चों की, जिनमे
                कोरोना का ख़ास प्रभाव नहीं देखा गया है, सिर्फ नुक्सानदेहि ही है”</p>
              <footer><a class="btn"
                  href="https://epaper.patrika.com/imageview_454513_59084312_4_198_03-01-2022_7_i_1_sf.html">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1477841484963475459">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i></li>
              <li><i class="far fa-clock"></i>
                <time datetime="">06 July 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">An Appeal to Reopen Schools in India</h6>
              <p>An Appeal to Reopen Schools in India: an appeal/letter to relevant authorities in India</p>
              <footer><a class="btn" href="https://tinyurl.com/schoolappealletter">Letter</a>
                <a class="btn inverse" href="https://tinyurl.com/schoolappeal">Statement</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third first">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i>Jeevan Prakash Sharma</li>
              <li><i class="far fa-clock"></i>
                <time datetime="">21 Dec 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">Should Govt Reopen Schools Amid Omicron Scare? Here's What 10 Parents Say</h6>
              <p>Citing multiple examples of how children are already exposed to the virus to substantiate their claim,
                these parents showed their concurrence with the decision of reopening of schools amid Omicron scare as
                children are less susceptible to the disease.</p>
              <footer><a class="btn"
                  href="https://www.outlookindia.com/website/story/india-news-meet-10-parents-who-want-schools-to-reopen-despite-omicron-scare/406065">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1473245507677921284">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i>Bhaskaran Raman</li>
              <li><i class="far fa-clock"></i>
                <time datetime="">17 Dec 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">Why Have They Done This to the Children?</h6>
              <p>"It is each child’s constitutional as well as birth-right to have a normal childhood"</p>
              <footer><a class="btn"
                  href="https://brownstone.org/articles/why-have-they-done-this-to-the-children/">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1471880718951194628">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i>Jeevan Prakash Sharma</li>
              <li><i class="far fa-clock"></i>
                <time datetime="">17 Nov 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">Covid-19 Vaccine For Kids? Five Reasons Why Experts Think It's A Bad Idea</h6>
              <p>"The trial sizes for kids’ vaccines (525: Covaxin, 1000: ZyCov-D), are laughably small, except that
                this is no laughing matter"</p>
              <footer><a class="btn"
                  href="https://www.outlookindia.com/website/story/india-news-covid-19-five-reasons-why-experts-think-kids-dont-need-vaccines/401249">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1460882398216798215">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third first">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i></li>
              <li><i class="far fa-clock"></i>
                <time datetime="">06 Nov 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">Not risky? How schools closure flattened children’s future, not Covid curve</h6>
              <p>All schools must open now; continued closure is morally and scientifically unjustifiable</p>
              <footer><a class="btn"
                  href="https://www.counterview.net/2021/11/not-risky-how-schools-closure-flattened.html">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1456840364984135685">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i></li>
              <li><i class="far fa-clock"></i>
                <time datetime="">19 Oct 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">बच्चों के लिए कोरोना वैक्सीन कितनी जरूरी</h6>
              <p>बच्चों में वैक्सीन के दीर्घगामी असर का अध्ययन करना बेहद जरूरी है</p>
              <footer><a class="btn"
                  href="https://epaper.patrika.com/imageview_393128_57430796_4_198_19-10-2021_7_i_1_sf.html">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1450319398388920320">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i></li>
              <li><i class="far fa-clock"></i>
                <time datetime="">15 Sep 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">Should children be given COVID-19 jabs?</h6>
              <p>The debate on opening up schools should be delinked from the discussions on vaccinating children.</p>
              <footer><a class="btn"
                  href="https://www.thehindu.com/opinion/op-ed/should-children-be-given-covid-19-jabs/article36459761.ece">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1439114563295662083">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third first">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i></li>
              <li><i class="far fa-clock"></i>
                <time datetime="">08 Sep 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">School closure: The mountain of myths standing between our kids and education</h6>
              <p>School closure based on this mountain of myths is gross injustice being done to an entire generation of
                children.</p>
              <footer><a class="btn"
                  href="https://citizenmatters.in/school-closure-myth-vs-fact-online-education-27417">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1435474162148012035">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i></li>
              <li><i class="far fa-clock"></i>
                <time datetime="">20 Aug 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">For India’s young generation, the costs of school closure amid Covid-19 are mounting
              </h6>
              <p>It is high time that policymakers put aside political divides and start applying scientific learnings
                to save our children – our future.</p>
              <footer><a class="btn"
                  href="https://scroll.in/article/1002980/for-indias-young-generation-the-costs-of-school-closure-amid-covid-19-are-mounting">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1428576089186521090">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i></li>
              <li><i class="far fa-clock"></i>
                <time datetime="">13 Jul 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">Prioritising school reopening on the road to recovery</h6>
              <p>Children have long borne the costs of school closure and evidence-based decisions toward reopening are
                a necessity.</p>
              <footer><a class="btn"
                  href="https://www.thehindu.com/opinion/op-ed/prioritising-school-reopening-on-the-road-to-recovery/article35289317.ece">Article</a>
                <a class="btn inverse" href="https://twitter.com/br_cse_iitb/status/1444295309505413120">Tweet</a>
              </footer>
            </div>
          </article>
        </li>
      </ul>
      <ul id="latest" class="nospace group">
        <li class="one_third first">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i></li>
              <li><i class="far fa-clock"></i>
                <time datetime="">25 Aug 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">Why schools should be open now and opening of primary schools should be given higher
                priority</h6>
              <p>Why schools should be open now and opening of primary schools should be given higher priority; signed
                by 56 academicians, doctors, lawyers, other professionals, concerned parents.</p>
              <footer><a class="btn" href="https://tinyurl.com/letter2pmcmtf">Letter</a>
              </footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <ul class="nospace meta group">
              <li><i class="fas fa-user"></i></li>
              <li><i class="far fa-clock"></i>
                <time datetime="">28 July 2021</time>
              </li>
            </ul>
            <div class="excerpt">
              <h6 class="heading">Setting up of an urgent task force toward school reopening, an open letter</h6>
              <p>Setting up of an urgent task force toward school reopening, an open letter to the Chief Ministers of
                Maharashtra, Delhi, Karnataka; signed by 50+ academicians, doctors, lawyers, other professionals,
                concerned parents.</p>
              <footer><a class="btn" href="https://tinyurl.com/schooltaskforceletter">Letter</a>
              </footer>
            </div>
          </article>
        </li>



        <!-- Add the remaining list items here -->

  </div>
  </ul>
  </section>
  </div>
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/"
          title="Free Website Templates">OS Templates</a></p>
    </div>
  </div>
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
</body>

</html>